<div class="row">
  <div class="small-12 columns">
    <div class="footer">
      <p class="copyright">&copy; {{year}} Ziboo</p>
      <ul class="inline-list footer-links">
        <li>
          <a href="https://www.youtube.com/watch?v=4B4GcsTJDPc&amp;index=1&amp;list=PLvEeyFfdGlu-1o4EMvZ36IDJh4aE0asXF" target="_blank">Our Story</a>
        </li>
        </li>
          <a href="https://github.com/unforgitables/zibzoo" target="_blank">
            <i class="fa fa-github fa-2x"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
